body {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
	margin-bottom: 0px;
	min-width: 1000px;
}

/* Шапка сайта */

.header{
    width: 102%;
    left: -1%;
    position:fixed;
	box-shadow: 0 2px 8px rgba(0,0,0,0.78); /* Параметры тени */
	z-index: 3;
    }
	
#logobox {
    height: 95px;
    top: 0;
    display: -webkit-flex;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
    }

    
.leftbox{
	height: 95px;
	width: 11%;
    top: 0; left:0;
	background: #090909;
    }
	
.logopos{
	width: 150px;
	height: 95px;
	margin-left: -2px;
	}
	
.rightbox{
	height: 95px;
	flex-grow: 1;
	background: #090909;
	margin-left: -2px;
	}
    
/* Меню */

#menubox{
    height: 20px;
    top: 100px;
	background: #090909;
	z-index: 3;
    }
	
.menu{
    width: 80%;
    height: 20px;
	margin: auto;
	}
	
/* Навигация */
	
.navigation {
    list-style: none; /* Отключение отображения маркеров. */
    margin: 1px auto auto auto;
	-webkit-padding-start: 1%;
	padding-inline-start: 1%;
    }
   
.navigation li {
    float: left; /* Выстраивание элементов списка в один ряд. */
    margin-right: 10px; /* создание отступов для того, чтобы не сливались пункты меню. */
    font-family: 'Roboto', sans-serif; /* Указание типа шрифта. */
    font-size: 12px; /* Размер текста в ссылках. */
    }
   
.navigation li a {
    display: block; /* Изменение отображения на блочное для того чтобы иметь возможность задать внутренние отступы. */
    padding: 2px 10px;  /* Внутри блочные отступы. */
    background: #090909; /* Цвет блоков меню. */
    color: #9c9c9c; /* Цвет текста в блоках меню. */
    text-decoration: none; /* Устранение подчёркивания ссылок. */
    position: relative; /* Это необходимо при использовании Internet Explorer 6 для того, чтобы ссылка по всей своей площади была «кликабельной». */
    }
   
.navigation li a:hover {
    color: #ffffff;  /* Цвет текста при наведении курсора. */
    }

/* Глобально */

.globalbox {
    position: relative;
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.78);
	min-width: 1000px;
	}
   
.infobox{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	}
   
.infobox:hover  {
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
	}

.infobox:not(:hover) {
	transition: all 0.4s ease;
	}

.nullbox {
	height:120px;
	width:100%;
	}

#gl1 {
	width: 50%;
	margin: 1% 0 auto 0;
	flex: 1 0 15px;
	min-height: 15px;
	opacity: 0;
	transition: all 0.4s ease;
	}

#gl2 {
	margin: 1% 0 1% 0;
	flex: 6 0 165px;
	opacity: 0;
	transition: all 0.4s ease;
	}

#gl3 {
	width: 100%;
	flex: 1 0 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #fff;
	text-align: center;
	margin-bottom: 1%;
	opacity: 0;
	transition: all 0.4s ease;
	}

.infobox:hover  #gl1 {
	opacity: 1;
	}	

.infobox:hover  #gl2 {
	opacity: 1;
	}	

.infobox:hover  #gl3 {
	opacity: 1;
	}	

.glbutton {
	position: absolute;
	width:100%;
	height:100%;
	top:0; left:0;
	}

/* Сетка портфолио */

.row {
	position:relative;
	display: flex;
	flex-flow: row wrap;
	width:80%;
	margin: 30px auto 0 auto;
	min-width: 1000px;
	}

.row:last-child {
	margin-bottom: 0;
	}

[class*="col-"] {
	padding: 10px;
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	}

@media all and ( min-width: 800px ) {

.col-2-3 {
	width: 66.66%;
	}

.col-1-4 {
    width: 22%;
	}
  
}

.titlerow{
	margin-top: 20px;
	display: block; /* Изменение отображения на блочное для того чтобы иметь возможность задать внутренние отступы. */
    padding: 2px 10px; 
	text-align: left;
	background: #090909;
	color: #9c9c9c;
    font-family: 'Roboto', sans-serif; /* Указание типа шрифта. */
    font-size: 12px; /* Размер текста в ссылках. */
	cursor: default;
}

.pbox {
	overflow:hidden;
	width:100%;
	margin-top: 20px;
	}

.pbox:hover {
	transition: all 0.1s ease-out;
	-webkit-box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.60);  
	-moz-box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.60); 
	box-shadow: 0 3px 10px rgba(0,0,0,0.8); 
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
	}
	
.pbox:not(:hover) {
	transition: all 0.1s ease-out;
	}


.pbox:hover figcaption::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	}

a img {
	border: none;
	outline: none;
	}
	
a {
	border: none;
	outline: none;
	}

.pboxnull {
	overflow:hidden;
	width:100%;
	margin-top: 20px;
	background-image: url(img/black-diagonal-lines.png);
	background-repeat: repeat;
	border: 1px solid black;
	opacity: 0.2;
	flex-grow: 1;
	}

	/* Глобально */

.gltop{
	width: 100%;
	min-width: 1000px;
	opacity: 0.98;
	}

.globj{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	}
   

.nullbox {
	height:120px;
	width:100%;
	}

#objgl {
	margin: 2% 0 4% 0;
	flex: 6 0 165px;
	opacity: 0.95;
	}
	
.titlegl{
	margin: 60px auto 0 auto;
	width: 120px;
	display: block; /* Изменение отображения на блочное для того чтобы иметь возможность задать внутренние отступы. */
    padding: 2px 10px; 
	text-align: center;
	background: #090909;
	color: #9c9c9c;
    font-family: 'Roboto', sans-serif; /* Указание типа шрифта. */
    font-size: 12px; /* Размер текста в ссылках. */
	cursor: default;
	}

.textgl{
	width:60%;
	margin: auto;
	margin-top: 10px;
	text-align: left;
	color: #090909;
    font-family: 'Roboto', sans-serif; /* Указание типа шрифта. */
    font-size: 14px; /* Размер текста в ссылках. */
	cursor: default;
	display: flex;
	flex-flow: row nowrap;
	text-align: justify;
	}

.textblock{
	width:50%;
	padding: 10px;
	}

.bodywidth{
	width:80%;
	margin: auto;
	display: flex;
	flex-flow: row nowrap;
	}

.vkquote {
	width: 100%;
	min-width: 1000px;
    margin: 60px 0 0 0;
    background: rgba(9, 9, 9, 1);
	box-sizing: border-box;
    padding: 10px 0 10px 0;
	}
	
.inst {
	padding: 10px;
	}

.pbox3 {
	overflow:hidden;
	width:100%;
	box-sizing: border-box;
	padding: 10px;
	}
	
.centertext {
	width: 100%; 
	text-align: center; 
	padding: 30px 0 10px 0;
	color: #090909;
    font-family: 'Roboto', sans-serif; /* Указание типа шрифта. */
    font-size: 12px; /* Размер текста в ссылках. */
	cursor: default;
	}

.texterror {
	width: auto; 
	margin: 60px auto 0 auto;
	text-align: center;
	background: #090909; 
	color: #9c9c9c;
    font-family: 'Roboto', sans-serif; /* Указание типа шрифта. */
    font-size: 20px; /* Размер текста в ссылках. */
	cursor: default;
	padding: 10px;
	}

.glitch{
	width: 240px;
	margin: auto;
	}
	
.texterror2 {
    width: auto;
    display: flex;
    height: 100%;
    text-align: center;
    background: #090909;
    color: #9c9c9c;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    cursor: default;
}
.glitch2{
	width: 205px;
	margin: auto;
	}